In [1]:
import sqlite3

# Connect to an in-memory database (for demonstration)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
CREATE TABLE products (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL,
    category TEXT
)
''')
conn.commit()

# Insert some data
cursor.execute("INSERT INTO products (name, price, category) VALUES ('Laptop', 1200, 'Electronics')")
cursor.execute("INSERT INTO products (name, price, category) VALUES ('Keyboard', 75, 'Electronics')")
cursor.execute("INSERT INTO products (name, price, category) VALUES ('Mouse', 25, 'Electronics')")
cursor.execute("INSERT INTO products (name, price, category) VALUES ('Book', 20, 'Books')")
cursor.execute("INSERT INTO products (name, price, category) VALUES ('Notebook', 5, 'Stationery')")
conn.commit()

In [2]:
cursor.execute("SELECT * FROM products")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 1200.0, 'Electronics')
(2, 'Keyboard', 75.0, 'Electronics')
(3, 'Mouse', 25.0, 'Electronics')
(4, 'Book', 20.0, 'Books')
(5, 'Notebook', 5.0, 'Stationery')

In [3]:
cursor.execute("SELECT name, price FROM products")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Laptop', 1200.0)
('Keyboard', 75.0)
('Mouse', 25.0)
('Book', 20.0)
('Notebook', 5.0)